---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="w-full h-fit" id="home">
    <section class="w-full h-fit flex flex-col md:flex-col-reverse lg:flex-row">
      <!-- left section - poster image -->
      <div class="w-full lg:w-[35%] h-fit lg:h-[100vh] lg:sticky top-0 left-0">
        <img
          class="w-full h-full object-cover"
          src="/images/posterimage.webp"
          alt=""
        />
      </div>
      <!-- right section - form -->
      <div class="w-full lg:w-[65%] h-fit md:h-[85vh] lg:h-fit">
        <div
          class="w-full h-full flex flex-col items-center gap-[40px] lg:gap-[80px]"
        >
          <!-- logo -->
          <div class="mt-[40px] w-[150px] h-[45px]">
            <img class="size-full" src="/images/coslogo.png" alt="logo" />
          </div>

          <div class="flex flex-col gap-[48px] w-full px-[24px] md:px-[48px] lg:px-[80px] items-center">
            <!-- who we are -->
            <div class="flex flex-col gap-[24px] items-center">
              <div class="flex gap-[12px] items-center justify-center">
                <div>
                  <img src="/svgs/arrowleft.svg" alt="" />
                </div>
                <h2 class="text-nowrap">WHO ARE WE</h2>
                <div>
                  <img src="/svgs/arrowright.svg" alt="" />
                </div>
              </div>
              <div class="text-center">
                <p class="p">
                  <span class="font-bold"
                    >Come Study International is an educational consultancy that
                    partners with selected universities around the globe.
                  </span>
                  <br />
                  <br />
                  <span class="opacity-70">
                    Securing admission to a university abroad and preparing for
                    travel can be challenging and stressful for students and
                    their families. That's why Come Study International provides
                    expert advice on the study abroad process, schools, and
                    destinations.
                  </span>
                </p>
              </div>
            </div>
            <!-- about the event -->
            <div class="flex flex-col gap-[24px] items-center">
              <div class="flex gap-[12px] items-center justify-center">
                <div>
                  <img src="/svgs/arrowleft.svg" alt="" />
                </div>
                <h2 class="text-nowrap">ABOUT THE EVENT</h2>
                <div>
                  <img src="/svgs/arrowright.svg" alt="" />
                </div>
              </div>
              <div class="text-center">
                <p class="p">
                  <span class="font-bold">Study in Germany with PFH! </span>
                  <br />
                  <br />
                  <span class="opacity-70">
                    PFH, offers eight Master's programmes in Management and
                    Engineering, each designed to equip you with the skills and
                    knowledge for a smooth transition into the job market. Our
                    programmes are tailored to meet industry demands, and we
                    keep class sizes small to ensure individual attention for
                    every student.
                  </span>
                  <br />
                  <br /> Click <a href="https://www.pfh.de/en" target="_blank" class="font-bold hover:underline hover:opacity">here</a> to find out more.
                </p>
              </div>
            </div>

            <!-- button -->
            <a href="/form" class="w-fit p px-[24px] py-[12px] bg-transparent hover:bg-[#153DA2] border-[1px] border-[#757575] hover:border-white font-bold transition duration-300">
              <span class="mx-[48px]">
                Sign Up
              </span>
            </a>
          </div>

          <!-- footer -->
          <footer class="w-full p-[24px] md:p-[40px]">
            <div
              class="w-full gap-[40px] flex flex-col md:flex-row items-center md:items-start justify-center"
            >
              <div
                class="flex flex-col items-center md:items-start gap-[24px] w-full"
              >
                <!-- logo -->
                <div class="w-[106px] h-[32px]">
                  <img class="size-full" src="/images/coslogo.png" alt="logo" />
                </div>

                <div class="flex flex-row gap-[16px]">
                  <!-- instagram -->
                  <div class="size-[24px]">
                    <img
                      class="size-full object-cover"
                      src="/svgs/instagram.svg"
                      alt="instagram icon"
                    />
                  </div>
                  <!-- x -->
                  <div class="size-[24px]">
                    <img
                      class="size-full object-cover"
                      src="/svgs/x.svg"
                      alt="x icon"
                    />
                  </div>
                  <!-- linkedin -->
                  <div class="size-[24px]">
                    <img
                      class="size-full"
                      src="/svgs/linkedIn.svg"
                      alt="linkedin icon"
                    />
                  </div>
                </div>
              </div>
              <div
                class="flex flex-col items-center md:items-start text-center md:text-left gap-[10px] w-full text-wrap"
              >
                <h2 class="text-white text-[20px] font-semibold">Contact Us</h2>
                <p class="text-[#BCBCBC] text-[16px]">
                  comestudyinternational
                  <br />@gmail.com
                </p>
                <p class="text-[#BCBCBC] text-[16px]">
                  No. 18 Nii Adjei Onano street <br /> East legon, Accra - Ghana
                </p>
              </div>
              <div
                class="flex flex-col items-center md:items-start text-center md:text-left gap-[10px] w-f text-nowrap"
              >
                <div>
                  <p class="text-white text-[16px]">Privacy Policy</p>
                  <p class="text-white text-[16px]">Terms of Service</p>
                </div>
                <p class="text-[#BCBCBC] text-[16px]">Powered by UtopiaTech</p>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  main {
    background: radial-gradient(
      9.66% 17.21% at 33.55% 15.76%,
      #1c1677 0%,
      #070934 100%
    );
  }

  #home h2 {
    font-family: "Poppins", sans-serif;
    color: white;
    font: 12px;
    font-weight: 700;
  }

  .p {
    font-family: "Poppins", sans-serif;
    color: white;
    font: 16px;
  }
</style>
